#mural{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
    background-color: aliceblue;
    margin: auto;
    margin-top: 22vh;
    border-radius: 10px;
    box-shadow: -1px 3px 6px 0.5px rgba(0, 0, 0, 0.3);
}

#title{
    text-align: center;
    font-family: Plante;
    font-size: 40px;   
    width: 100%;
    height: 20%;
    margin-top: -2vh;
    padding-bottom: 4vh;
}


.buttons{
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 70%;
    width: 100%;
}

button, input{
    margin: auto;
    height: 8vh;
    width: 25vw;
    background-color: rgb(27, 43, 21);
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-color: transparent;
    box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: rgb(18, 26, 15);
}

/*MODAL*/
.fauna, .patos, .img_amazonia, .conceito{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(5, 20, 0);
    height: 64vh;
    width: 40vw;
    margin-top: -50vh;
    border-radius: 15px;
    font-family: Floral;
    box-shadow: 0px 0px 100vh 100vw rgb(0 0 0 / 0.6);
}

#inserts{
    display: flex;
    flex-direction: row;
    height: 8vh;
}

#inserts button, #inserts input{
    margin: auto;
    height: 8vh;
    width: 40%;
    margin: 3vh auto;
}

.patos img{
    height: 36vh;
    width: auto;
    margin-top: 4vh;
    margin: auto;
    border-radius: 15px;
}

.header{
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    width: 100%;
    height: 13%;
    align-items: stretch;
    text-align: center; 
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(255, 255, 255, 0.274);
}

.close{
    margin: 2%;
    height: 60%;
    width: 6%;
    font-size: 35px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.close p{
    margin-top: -0.5vh;
}

.close:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.text{
    margin: 2%;
    font-size: 40px;
    margin-top: -4.5vh;
    height: 60%;
    width: 94%;
    text-align: center;
    color: #000;
}

.bla{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin-top: 1vh;
    font-family: 'Courier New', Courier, monospace;
    text-justify:inter-word;
    margin-left: 3vw;
    margin-right: 3vw;
}

.conteudo{
    margin-top: 3vh;
    text-align: center;
    font-size: 18px;
}

.button-img{
    margin: 3vh auto;
}

/*IMAGENS*/

.imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 86%;
    width: 100%;
}

.imgs img{
    margin: auto;
    height: 15vh;
    width: auto;
    border-radius: 15px;
}