<main>
    <div id="mural">
      <div id="title">
        <p>FLORESTA AMAZÔNICA</p>
      </div>
      <div class="buttons">
        <button (click)="this.verify3 = true">O QUE É?</button>
        <button (click)="this.verify = true">PATOS</button>
        <button (click)="this.verify2 = true">FAUNA</button>
      </div>
      <app-mural *ngIf="this.verify == true || this.verify2 == true || this.verify3 == true">
        
        <div class="conceito" *ngIf="this.verify3 == true">
          <div class="header">
            <div class="close" (click)="this.verify3 = false"><p>X</p></div>
            <div class="text"><p>O QUE É?</p></div>
          </div>
          <div class="bla">
            <div class="conteudo">
              <p>
                É a floresta que corresponde ao maior bioma brasileiro,
                berço da maior biodiversidade dentre as florestas tropicais do mundo,
                Com aproximadamente 5 milhões de km² de floresta, 
                a Amazônia se estende ao longo de nove países da América do Sul, 
                sendo 60% da área desse bioma no Brasil.
                A maior bacia hidrográfica do mundo é a Amazônica, 
                que detém 20% da água doce do mundo e aproximadamente 80% das águias superficiais do Brasil.
              </p>
            </div>
            <div class="button-img">
              <button (click)="this.img_amazonia = true">Imagens</button>
            </div>
          </div>
        </div>

        <div class="img_amazonia" *ngIf="this.img_amazonia == true">
          <div class="header">
            <div class="close" (click)="this.img_amazonia = false"><p>X</p></div>
            <div class="text"><p>FLORESTA</p></div>
          </div>
          <div class="imgs">
            <img src="https://s5.static.brasilescola.uol.com.br/be/2022/10/vista-floresta-amazonica.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYRczHEiucrfjLNLfizAOaz4OLvNOPPWqo_Q&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYRczHEiucrfjLNLfizAOaz4OLvNOPPWqo_Q&usqp=CAU">
            <img src="https://static.wixstatic.com/media/279c8f_6ec4c46cb73c4d18af1f3d94e3e18134~mv2.jpg/v1/fill/w_640,h_480,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/279c8f_6ec4c46cb73c4d18af1f3d94e3e18134~mv2.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzkY_2eOyKggQ5J1StoEuEVbsSC3GOxLlVwg&usqp=CAU">
            <img src="https://1.bp.blogspot.com/-W1gGtPdGjk8/YEvIo-xieqI/AAAAAAADmLY/_XljcRc2lUMz62sWalx0U-jR5tTs8t-5gCLcBGAsYHQ/s1920/amazonia-vitoria-regia.jpeg">
          </div>
        </div>

        <div class="patos" *ngIf="this.verify == true"> 
          <div class="header">
            <div class="close" (click)="this.verify = false"><p>X</p></div>
            <div class="text"><p>PATOS</p></div>
          </div>
          <div id="inserts">
            <input type="number" placeholder="Escreva um número" #valor>
            <button (click)="consultar(valor.value)">Enviar</button>
         </div>
          <img *ngIf="linkImage != null" src="{{linkImage}}"> 
        </div>
     

        <div class="fauna" *ngIf="this.verify2 == true">
          <div class="header">
            <div class="close" (click)="this.verify2 = false"><p>X</p></div>
            <div class="text"><p>FAUNA</p></div>
          </div>
          <div class="imgs">
            <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/2020/07/onca-pintada.jpg">
            <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/2020/07/galo-da-serra.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnDw4OA-U0yHQVKdJb_cRGqBQIasZedI3wTQ&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROQcTuLF06nW_xj2vp17SPQS7mC3gtpbz4og&usqp=CAU">
            <img src="https://s2.glbimg.com/4p_9zp5P4B6zkWs5XhkEPoF44fE=/0x0:1800x1200/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2017/W/D/iPBjRWT2KGm8TqqASesQ/rnc-4635-c.jpg">
            <img src="https://static.significados.com.br/foto/sloth-1041855-1920.jpg?auto_optimize=low">
          </div>
        </div>

      </app-mural>
    </div>
</main>